html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}

.list {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 40rem;
}

header {
  padding: 0 5%;
  text-align: center;
  margin: 4rem 0 2.5rem;
}

article {
  margin-top: 3rem;
}

footer {
  background: #ccffcc;
  margin-top: 4rem;
  padding: 1.3rem 0 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.7rem;
  }
}

h1 small {
  display: block;
  font-family: Vollkorn, serif;
  font-weight: normal;
  font-style: italic;
  font-size: .5em;
  line-height: 1.7;
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }
}

h2 small {
  display: block;
  font-family: Vollkorn, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2;
}

.social-block {
  margin: .6rem 0 .8rem;
}

.social-block img {
  height: 1.5rem;
  margin: 0 .3rem;
}

p {
  line-height: 1.5;
  margin: .35rem 0 .7rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links {
  margin-top: .2rem;
}

.screen-shot {
  margin-top: 1.1rem;
  display: inline-block;
  border: 5px dotted #007200;
  padding: 8px;
}

.screen-shot img {
  max-width: 100%;
}

.screen-shot:hover {
  border-color: #00c200;
}

.screen-shot img {
  vertical-align: middle;
}
