html {
    font-family: 'Fira Mono', monospace;
    font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vollkorn", Palatino, Times, serif;
    font-weight: normal;
    margin-bottom: 0;
}

h1 {
    font-size: 3.5em;
    margin: .67em 0;
    line-height: 1;
    text-align: center;
}

h2 {
    display: inline;
}

small {
    font-size: 0.5em;
}

p {
    font-size: .9em;
    margin-top: 0;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    margin-bottom: 4em;
}

article {
    margin-bottom: 3em;
}

.list {
    margin: 0 auto;
    max-width: 42rem;
}

.screen-shot {
    display: inline-block;
    border: 5px dotted #007200;
    padding: 8px;
}

.screen-shot img {
    max-width: 100%;
}

.screen-shot:hover {
    border-color: #00c200;
}

.screen-shot img {
    vertical-align: middle;
}
